<!DOCTYPE html>
<html>
<body>

<h1> Create New User </h1>
  
  <form action="/createaccount" method="post">
    <input type="text" name="firstNameField" placeholder="Enter first name">
    <br>
    <input type="text" name="lastNameField" placeholder="Enter last name">
    <br>
     <input type="text" name="emailAddressField" placeholder="Enter email address">
    <br>
    <input type="text" name="passwordField" placeholder="Enter password">
    <br>
    <p> </p>
   <br><br> 
    <input type="submit" value="Sign Up">
  </form>
  <font color = 'red'> <%=message%> </font>
  
</body>
</html>