<!DOCTYPE html>
<html>
<body>

<h1> Create New User </h1>
  
  <form action="/createaccount" method="post">
    <input type="text" name="userField" placeholder="Enter User Name">
    <br>
    <input type="text" name="passwordField" placeholder="Enter Password">
    <br>
     <input type="text" name="nameField" placeholder="Enter Full Name">
    <br>
    <p> </p>
   <br><br> 
    <input type="submit" value="Sign Up">
  </form>
  <font color = 'red'> <%=message%> </font>
  
</body>
</html>